<%- include('partials/header') %>

<div class="container">
    <div class="row">
       <div class="col-md-6 mx-auto mt-5">
          
            
             <div class="content">
                <h1>Payment Success !</h1>
                <p>Your payment id is : <%=payment_id%></p>
                <a href="/">Go to Home</a>
            </div>
       </div>
    </div>
 </div>



<%- include('partials/footer') %>