<%- include('partials/header') %>

<div class="container backf4f5f7">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-7 py-5">
            <h3>Profile</h3>
           
            <form action="/sell" method="POST">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="fname">First Name</label>
                            <input type="text" class="form-control"  id="fname" name="fname">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="lname">Last Name</label>
                            <input type="text" class="form-control"   id="lname" name="lname">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group ">
                            <label for="email">Email Address</label>
                            <input type="email" class="form-control" disabled placeholder="<%=user.email%>" id="email" name="email">
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="phoneNumber">Phone Number</label>
                            <input type="text" class="form-control"  id="phoneNumber" name="phoneNumber">
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="state">State</label>
                            <input type="text" class="form-control"  id="state" name="state">
                        </div>
                    </div>
                   
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="city">City</label>
                            <input type="text" class="form-control"  id="city" name="city">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="zipCode">Zip Code</label>
                            <input type="number" class="form-control"  id="zipCode" name="zipCode">
                        </div>
                    </div>
                </div>
              
               
             
                <div class='row'>
                    <div class="col">
                        
                        <input type="submit" name="submit" value="Save" class="btn px-5 btn-primary">
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>



<%- include('partials/footer') %>