<%- include('partials/header') %>

<!-- <form action="/sell" method="POST">
    <div class="form-row">
        <div class="col">
            <input >

        </div> 

    </div>

</form> -->

<div class="container backf4f5f7">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-7 py-5">
            <h3>Product Details</h3>
            <p class="mb-4">Register your product</p>
            <form action="/sell" method="POST" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="fname">First Name</label>
                            <input type="text" class="form-control"  id="fname" name="fname">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="lname">Last Name</label>
                            <input type="text" class="form-control"  id="lname" name="lname">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group ">
                            <label for="email">Email Address</label>
                            <input type="email" class="form-control"  id="email" name="email">
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="phoneNumber">Phone Number</label>
                            <input type="text" class="form-control"  id="phoneNumber" name="phoneNumber">
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="state">State</label>
                            <input type="text" class="form-control"  id="state" name="state">
                        </div>
                    </div>
                   
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="city">City</label>
                            <input type="text" class="form-control"  id="city" name="city">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="zipCode">Zip Code</label>
                            <input type="number" class="form-control"  id="zipCode" name="zipCode">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="pName">Product Name</label>
                            <input type="text" class="form-control"  id="pName" name="pName">
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="pYear">Product Purchase Year</label>
                            <input class="form-control" id="pYear" name="pYear" type="number" min="1900" max="2099" step="1" value="2021" />
                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group ">
                            <label for="pPrice">Product Price</label>
                            <input type="number" class="form-control"  id="pPrice" name="pPrice">

                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group ">
                            <label for="pDesc">Product Description</label>
                            <textarea class="form-control" name="pDesc" id="pDesc"></textarea>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group ">
                            <div class="custom-file">
                                <label class="custom-file-label" for="imageFiles">Upload Images</label>
                                <input type="file" name="file" id="file" class="custom-file-input">


                              </div>
                        </div>
                    </div>

                </div>
                <div class='row'>
                    <div class="col">
                        <div class="form-group">
                            <div class="form-check">
                              <input class="form-check-input" name="checkbox" type="checkbox" value="" id="invalidCheck" required>
                              <label class="form-check-label" for="invalidCheck">
                                Agree to terms and conditions
                            </div>
                          </div>
                        <input type="submit" name="submit" value="Register" class="btn px-5 btn-primary">
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>


<%- include('partials/footer') %>