#home{
    background-image:linear-gradient(
        hsl(0, 0%, 0%) 0%,
        hsla(0, 0%, 0%, 0.738) 19%,
        hsla(0, 0%, 0%, 0.541) 34%,
        hsla(0, 0%, 0%, 0.382) 47%,
        hsla(0, 0%, 0%, 0.278) 56.5%,
        hsla(0, 0%, 0%, 0.194) 65%,
        hsla(0, 0%, 0%, 0.126) 73%,
        hsla(0, 0%, 0%, 0.075) 80.2%,
        hsla(0, 0%, 0%, 0.042) 86.1%,
        hsla(0, 0%, 0%, 0.021) 91%,
        hsla(0, 0%, 0%, 0.008) 95.2%,
        hsla(0, 0%, 0%, 0.002) 98.2%,
        hsla(0, 0%, 0%, 0) 100%
      ) ,url(https://www.ace-cranes.com/public/front/images/inner_banner2a.jpg);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    width:100%;
    display: flex;
    
   
    
  
    

}
.centerHome{
    margin: 0 auto;
    width: 70%;
    text-align: center;
    margin: auto;
}
.centerHome{
    color:white;
   
    

}
.centerHome h1{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 55px;
    letter-spacing: 5px;
    

}
.centerHome p{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;

}
.centerHome .btn{
    width:100px;
}
.nav-link{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

}
/* .centerHome p{

} */

.navbar-brand{
    font-family: 'Courgette', cursive;
   
}




.navbar{
    background-color:none;
    
}
.card{
    margin : 30px;
}
.form-group{
    margin:10px;
}
.backf4f5f7{
    background-color : #f4f5f7;
}

.craneHome{
    object-fit: contain;
    width: 100%;
}
.centerHome1{
    display: flex;
    text-align: center;
    
}
.centerHomeSub1{
    margin : auto;
}


.backgroundImage{
    background-image :url(https://www.pngitem.com/pimgs/m/513-5131515_website-background-design-illustration-hd-png-download.png);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width:100%;
    display: flex;
    background-position: fill;
    height:100%;
}